div, p {margin:0px; padding:0px;}

@media (max-width: 990px){
  .gridGrid .gridSquare{
  height: 34px;
  }
}

@media (min-width: 991px){
  .gridGrid .gridSquare{
  min-height: 45px;
  }
}

.gridGrid .gridSquare{
  display: block;
  flex: 1;
  border: thin solid rgba(0, 0, 0, 0.87);
  background-color: white;
  cursor: pointer;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  font-size: 24px;
  margin: 0;
}

.gridGrid .gridSquare:disabled{
  background-color: lightgray;
}

.gridGrid .gridLeft{
  border-left: 2px solid rgba(0, 0, 0, 0.87);
}

.gridGrid .gridLeftest{
  border-left: 4px solid rgba(0, 0, 0, 0.87);
}

.gridGrid .gridLeftest.gridToppest {
  border-top-left-radius: 6px;
}

.gridGrid .gridLeftest.gridBottomest {
  border-bottom-left-radius: 6px;
}

.gridGrid .gridRight{
  border-right: 2px solid rgba(0, 0, 0, 0.87);
}

.gridGrid .gridRightest{
  border-right: 4px solid rgba(0, 0, 0, 0.87);
}

.gridGrid .gridRightest.gridToppest {
  border-top-right-radius: 6px;
}

.gridGrid .gridRightest.gridBottomest {
  border-bottom-right-radius: 6px;
}

.gridGrid .gridTop{
  border-top: 2px solid rgba(0, 0, 0, 0.87);
}

.gridGrid .gridToppest{
  border-top: 4px solid rgba(0, 0, 0, 0.87);
}

.gridGrid .gridBottom{
  border-bottom: 2px solid rgba(0, 0, 0, 0.87);
}

.gridGrid .gridBottomest{
  border-bottom: 4px solid rgba(0, 0, 0, 0.87);
}

.gridGrid .gridSquare:focus{
  z-index: 1000;
  outline: none;
}

.gridGrid .bolded{
  font-weight: bold;
}

.gridGrid .gridSquare.rowInvalid{
  background-color: #e8a0a0;
}

.gridGrid .gridSquare.colnInvalid{
  background-color: #e8a0a0;
}

.gridGrid .gridSquare.blockInvalid{
  background-color: #e8a0a0;
}

.gridGrid .gridSquare.rowInvalid.colnInvalid,
.gridGrid .gridSquare.rowInvalid.blockInvalid,
.gridGrid .gridSquare.blockInvalid.colnInvalid{
  background-color: #D96262;
}

.gridGrid .gridSquare.rowInvalid.colnInvalid.blockInvalid{
  background-color: #c02e2e;
}

.gridGrid .gridSquare.focused,
.gridGrid .gridSquare.rowInvalid.focused,
.gridGrid .gridSquare.colnInvalid.focused,
.gridGrid .gridSquare.blockInvalid.focused,
.gridGrid .gridSquare.rowInvalid.colnInvalid.focused,
.gridGrid .gridSquare.rowInvalid.blockInvalid.focused,
.gridGrid .gridSquare.blockInvalid.colnInvalid.focused{
  background-color: rgba(80, 200, 235, 0.65);
}

.invalidOutline{
  border-radius: 50%;
  border: thin solid black;
  width: 28px;
  height: 28px;
  background-color: #c02e2e;
  color: white;
  box-shadow: 0 2px 2px 0 #823a3a, 0 3px 1px -2px #823a3a, 0 1px 5px 0 #823a3a;
}

.sudokuBox{
  display: block;
  position: relative;
  margin: auto;
  width: 90%;
  padding-top: 90%;
}

.sudokuBox.loading{
  display: flex;
  justify-content: center;
  padding-top: calc(45% - 34px);
  padding-bottom: calc(45% - 34px);
  /* padding-bottom: calc((462.05px - 68px ) / 2); */
  opacity: 0.65;
}

.gridGrid{
  position: absolute;
  top: 0;
  display: grid;
  height: 100%;
  width: 100%;
  flex: 1;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.gridGrid:focus{
  outline: none;
}

.boxingrid{
  display: grid;
}

p{
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}