:root {
  --hexWidth: 50px;
}

.gridBlock{
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.extraSVG{
  display: block;
  position: absolute;
  top: 0;
}

.hexRow{
  margin: 0;
  margin-top: calc(var(--hexWidth) / (-3.46410161514) - 4px)
}

.hexRow:nth-child(even){
  margin-left: calc(var(--hexWidth) / (2.0));
}

.hexRow:nth-child(1){
  margin-top: 0;
}

.hexagon{
  cursor: pointer;
}

.graphBox{
  position: relative;
  margin: 0;
  width: 100%;
  padding-top: 80%;
}

.latticeBox.loading{
  pointer-events: none;
  opacity: 0.65;
}

.innerMarble{
  pointer-events: none;
}

.line{
  fill: red;
}

.timeText{
  color: black;
  padding: 8px 0;
  padding-right: 16px;
  width: min-content;
}

.resultText{
  color: black;
  padding: 0px;
}

.inside{
  width: min-content;
  align-self: flex-start;
}

.contain{
  color: gray;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}

.moveUp{
  margin-top: -16px;
}

.sliderContainer{
  margin-top: 3px;
  width: 100%;
}
