ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.scroll_console{
    overflow-y: visible;
    overflow-x: hidden;
    background-color: aliceblue;
    color: navy;
    font-family: monospace;
    text-emphasis-color: #ffffff;
    height: 428px;
    width: 257px;
    list-style-type: none;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.12)
}

.scroll_console::selection{
    background-color: navy;
    color: aliceblue;
}

.scroll_console::-moz-selection{
    background-color: navy;
    color: aliceblue;
}