<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
// setup some JSON to use
var cars = [
	{ "make":"Porsche", "model":"911S" },
	{ "make":"Mercedes-Benz", "model":"220SE" },
	{ "make":"Jaguar","model": "Mark VII" }
];



var paramss = [
    {"value": 6},
    {"value": 8},
    {"value": '0,0n'},
    {"value": '2,4w'},
    {"value": ['1,1n', '2,2w']}];

window.onload = function() {
	// setup the button click
	document.getElementById("theButton").onclick = function() {
		doWork()
    };
    
}

function doWork() {
	// ajax the JSON to the server
	
    $.ajax({
    type: "POST",
    url: "/receiver",
    // The key needs to match your method's input parameter (case-sensitive).
    data: JSON.stringify(paramss),
    contentType: "application/json; charset=utf-8",
    dataType: "json",
    success: function(data){alert(data);},
    failure: function(errMsg) {
        alert(errMsg);
    }
});


$.ajax({
    type: "GET",
    url: "/receiver",
    // The key needs to match your method's input parameter (case-sensitive).
    data: {'GetConfig':'YES'},
    //contentType: "application/json; charset=utf-8",
    dataType: "text",
    success: function(data){useReturnData(data);},
    failure: function(errMsg) {
        alert(errMsg);
    }
}).responseText;


	// stop link reloading the page
 event.preventDefault();
}

function useReturnData(data){
    myvar = data;
    console.log(myvar);
};

</script>
{{ name }}
Solving a maze problem with D-Wave's Quantum Annealing Machine:<br /><br />

n_rows = 6 <br /><br />
n_cols = 8 <br /><br />
start = '0,0n'              # maze entrance location <br /><br />
end = '2,4w'                # maze exit location <br /><br />
walls = ['1,1n', '2,2w']    # maze interior wall locations  <br /><br />

<p id="test">The <b>optimal</b> route for solving the maze is {{ mazesoln }} .</p>

The maze looks like visuall {{ visuall}} {{ visual }} <br /><br />

<!-- Screenshot image looks like <img src="{{url_for('static', filename='img.jpg')}}" /> -->
Screenshot image (for preset problem above) looks like <img src='static/img.JPG'>

<a id="theButton">To solve the preset problem, Click Here</a>


<!doctype html>
<html>
 
 <body >
 
  <form method='post' action = '/testing'>

   <input type='text' name='n_rows' placeholder='n_rows' id='n_rows'>
   <input type='submit' value='submit' name='submitNR'><br>
   <div id='responseNR'></div>
   <input type='text' name='n_cols' placeholder='n_cols' id='n_cols'>
   <input type='submit' value='submit' name='submitNC'><br>
   <div id='responseNC'></div>
   <input type='text' name='start' placeholder='start' id='start'>
   <input type='submit' value='submit' name='submitST'><br>
   <div id='responseST'></div>
   <input type='text' name='end' placeholder='end' id='end'>
   <input type='submit' value='submit' name='submitEN'><br>
   <div id='responseEN'></div>
   <input type='text' name='walls' placeholder='walls' id='walls'>
   <input type='submit' value='submit' name='submitWL'><br>
   <div id='responseWL'></div>
  </form>
  
  <script>
    $(document).ready(function(){
      $('#submitNR').click(function(){ //$('#n_rows').keyup(function(){
       var n_rows = $('#n_rows').val();
       var n_cols = $('#n_cols').val();
       var start = $('#start').data();
       param2 = [{"rows": n_rows}, {"cols": n_cols}, {"start": start}]
  
       $.ajax({
        type: 'post',
        url: '/testing',
        //data: JSON.stringify(param2),
        //contentType: "application/json; charset=utf-8",
        //dataType: "json",
        success: function(response){
         $('#response').text(response);
        }
       });
      });
    });
    </script>
 
 </body>
</html>

