.hero_heading {
  font-size: 4rem;
  font-family: Roboto;
  font-weight: 900;
  letter-spacing: 0.15em;
  margin-bottom: 8px;
  text-transform: uppercase;
  background: linear-gradient(135deg, #6E5CBC, #FCB370);
  background-clip: text;  
  -webkit-background-clip: text;  
  -moz-background-clip: text;  
  -moz-text-fill-color: transparent;  
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
@media only screen and (max-width: 600px) {
  .hero_heading {
    font-size: 3rem;
  }
}